h1{
    color:pink;
}
h2{
    color:blue;
    font-size: 30px;
}
.image{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.self{
    border:1px solid black;
    padding-left: 10px;
    padding-right: 15px;
    background-color: darkgray;
}
ul{
    color:black;
    
}
ul{
    list-style-type:none;
}
.footer{
    color: honeydew;
    background-color: steelblue;
   
}
.list{
    color:pink;  
    font-family: 'Trirong', serif;
}
.friends{
    background-color: lemonchiffon;
}